langchain
streamlit 
dotenv
langchain-core
langchain-community
langchain-nvidia-ai-endpoints
langchain-chroma
chromadb
sse-starlette
pypdf
pymupdf
langchain-google-genai
uvicorn
fastapi
tiktoken
python-dotenv
requests
python-multipart
google-generativeai
pathlib